#products{
    display: flex;
    flex-wrap: wrap;
    margin-left: 60px;
}
.card{
    width: 300px;
    padding: 10px;
    border: 1px dotted black;
    border-radius: 10px;
    margin: 2px;
}
/* .card{
    width:300px;
    padding:10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2px;

}
.card>img,h5{
    margin-left: 60px;
    margin-top: 20px;
}
.card>button{
    margin-bottom: 0px;
} */